<nav class="navbar navbar-expand-sm bg-primary navbar-dark mb-3">
  <div class="container">
    {{! Brand }}
    <a href="/" class="navbar-brand">Posts</a>
    {{! Colapsible }}
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#olapsibleNavbar"
    >

    </button>
  </div>
</nav>