<nav class="navbar navbar-expand-sm bg-primary navbar-dark mb-3">
  <div class="container">
    {{! Brand }}
    <a href="/" class="navbar-brand">Posts</a>
    {{! Colapsible }}
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#olapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    {{! Navbar chính }}
    <div class="collapse navbar-collapse" id="olapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">Trang chủ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>