<style>
  .about__wrapper { text-align: center; }
</style>
<div class="about__wrapper">
  <h1>
    ABOUT
  </h1>
  <p>Đây là app ghi chú được phát triển bởi Catalina
  </p>
  <p>Phiên bản 1.0.1</p>
  <h2>
    Liên hệ
  </h2>
</div>