<style>
  body { width: 100%;height: 100vh; background: black} .main { background-color:
  white; min-height: 90vh; border-radius: 10px; } .wrapper{ padding-top:100px; }
</style>
<div class="main text-center king">
  <div class="wrapper">
    <h1>Posts</h1>
    <p>Ghi chép bài viết dễ dàng</p>
    <a href="/posts/add" class="btn btn-dark btn-lg">Viết bài mới</a>
  </div>
</div>