<style>
  html { box-sizing: border-box; } *{ margin: 0; padding: 0; }
  *,*:before,*:after { box-sizing: border-box; } input, textarea, select,
  button{ outline: none; } input{ line-height: normal; } label, button{ cursor:
  pointer; } a { text-decoration: none; } img { display: block; max-width: 100%;
  } body{ width: 100%; height: 100vh; } .jumbotron { height:100%; }
</style>
<div class="jumbotron text-center king">
  <h1>Posts</h1>
  <p>Ghi chép bài viết dễ dàng</p>
  <a href="/posts/add" class="btn btn-dark btn-lg">Viết bài mới</a>
</div>